body {
    background-color: #090909;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Discopia", sans-serif;
    text-transform: lowercase;
  }
  
  .content {
    text-align: center;
  }
  
  h1 {
    font-size: 60px;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    transition: font-size 0.3s ease, text-shadow 0.3s ease;
    cursor: pointer;
    user-select: none;
  }
  
  h1:hover {
    font-size: 70px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.7);
  }
  
  h1::selection {
    background-color: transparent;
  }
  
  .coming-soon {
    font-family: "Nova Mono", monospace;
    font-size: 24px;
    color: white;
    opacity: 1;
    margin-top: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
  