@font-face {
  font-family: 'Discopia';
  src: url('fonts/Discopia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nova Mono';
  src: url('fonts/NovaMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #090909;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent overflow */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; /* Prevent overflow */
}

#isummonstars {
  font-family: 'Discopia', sans-serif;
  font-size: 60px;
  font-weight: normal;
  color: white;
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  margin: 0;
  user-select: none;
  transition: font-size 0.5s, text-shadow 0.5s;
  cursor: pointer; /* Add cursor pointer for tap interaction */
  transform: translateY(-80px);
}

#isummonstars:hover {
  font-size: 70px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

#isummonstars.tap {
  font-size: 70px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

#spotify:hover > svg {
  fill: #1DB954;
  filter: drop-shadow(0 0 5px rgba(29, 185, 84, 0.8));
}

#soundcloud:hover > svg {
  fill: #FF3300;
  filter: drop-shadow(0 0 5px rgba(255, 51, 0, 0.8));
}

#youtube:hover > svg {
  fill:red;
  filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.8));
}

#twitter:hover > svg {
  fill: #1da1f2;
  filter: drop-shadow(0 0 5px rgba(29, 161, 242, 0.8));
}

#instagram:hover > svg {
  fill: #fa7e1e;
  filter: drop-shadow(0 0 5px rgba(250, 126, 30, 0.8));
}

#tiktok:hover > svg {
  fill: #fe2858;
  filter: drop-shadow(0 0 5px rgba(254, 40, 88, 0.8));
}
#discord:hover > svg {
  fill: #7289d9;
  filter: drop-shadow(0 0 5px rgba(114, 137, 217, 0.8));
}

svg {
  width: 75px;
  fill: white;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.4));
  margin: 25px;
  transition: 0.3s;
    
}

.svgcontainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: translateY(60px);

}


@media (max-width: 768px) {
  /* Mobile-specific styles */
  #isummonstars {
    font-size: 40px;
  }
  
  #isummonstars:hover {
    font-size: 40px; /* Adjust hover font size on mobile */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
}
